.App {
  text-align: center;
  background-color: #12232e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: #eefbfb;
}

.card {
  color: black;
}

.card-color {
  background-color: #045d95;
  color: white;
}

.hero {
  background-color: #203647;
}
